<nav>
    <div class="site-title">
        <a href="/">
            <h1>LSMS PTSA</h1>
        </a>
        <p>LSMS DATES & EVENTS</p>
    </div>

    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/talent-show">Talent Show</a></li>
        <li>
            <div>
                <img src="/chargers.png" class="ribbon right" id="chargers-image" width="50" height="50"> </img>
                <script src="/scripts/on-resize.js"></script>
            </div>
            <a href="/blogs/create">New Blog</a></li>
    </ul>

</nav>