<html lang="en">
<%- include("./partials/head.ejs") %>

    <!-- 
    <style>
    body {
    background-image: url('/background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
    </style>
    -->

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="about content">
                <h1 style="text-align:center"><b>LSMS Talent Show</b></h1>
                <style>
                    hr {
                    height:2px;
                    border-width:0;
                    background-color:#000000;
                    }
                </style>
                <hr>
                <h2>LSMS Talent Show</h2>
                <p><b>Date</b></p>
                <p> &emsp; May 4th 2023 at 4:30 PM (Mountain Time)</p>
                <p><b>Description</b></p>
                <p> &emsp; Blah</p>
                <p><b>Description</b></p>
                <p> &emsp; Blah</p>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>